################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppASCIIFramework/.vs/ConsoleAppASCIIFramework/v16/Server/sqlite3
